@page
@model ServicePlansModel
@{
    ViewData["Title"] = "Service Plans";
}

<h1>Service Plans</h1>

<table>
    <thead>
        <tr>
            <th>Service Plan ID</th>
            <th>Date of Purchase</th>
            <th>Number of Timesheets</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model.ServicePlans)
        {
            <tr>
                <td>@plan.Id</td>
                <td>@plan.DateOfPurchase.ToShortDateString()</td>
                <td>@plan.Timesheets.Count</td>
            </tr>
        }
    </tbody>
</table>
